<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div field="text" style=" max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Geometria',Arial,sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 20px;
    line-height: 1.55;">
    <br> Настоящий Договор является официальным предложением
        (публичной офертой) Индивидуального Предпринимателя Фамилия Имя Отчество (в дальнейшем «Исполнитель»)
        для любого физического или юридического лица (далее – «Заказчик»), которое примет настоящее предложение, на
        указанных ниже условиях. <br><br>В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации
        (ГК РФ), в случае принятия изложенных ниже условий и оплаты услуг юридическое или физическое лицо, производящее
        акцепт этой оферты, становится Заказчиком (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен
        заключению договора на условиях, изложенных в оферте). <br><br> Моментом полного и безоговорочного принятия
        Заказчиком предложения Исполнителя заключить договор оферты (акцептом оферты) считается факт оплаты Заказчиком
        услуг Исполнителя. Текст настоящего Договора оферты (далее по тексту – «Договор») расположен по адресу: <a
            href="http://headstart.camp/">http://generator.camp/oferta</a> <br><br> <strong>1. Термины и определения
        </strong><br><br> Для целей настоящего Договора, приведенные ниже термины и определения используются в следующем
        значении: <br><br> «Электронный адрес / электронная почта Исполнителя» – <a
            href="http://headstart.camp/">http://genetaror.camp</a> / generator.camp@yandex.ru<br><br> «Акцепт» — полное
        и безоговорочное принятие Заказчиком условий настоящей Оферты, совершенное путем оплаты
        информационно-консультационные услуг. <br><br> «Заказчик» – любое дееспособное физическое или юридическое лицо,
        индивидуальный предприниматель, акцептировавшее настоящий Договор. <br><br> «Заказ» – оформленный Заказчиком
        запрос на Услугу Исполнителя, оказываемую Заказчику или указанным им Слушателям. <br><br>«Сайт» – интернет-сайт
        <a href="http://headstart.camp/">http://generator.camp,</a> на котором Исполнитель размещает Программы мастер-
        классов, бизнес-тренингов, практических занятий и семинаров, документы, иную информацию, связанную с оказанием
        информационно-консультационных услуг. <br><br>«Мероприятия» - мастер-классы, бизнес-тренинги, практические
        занятия и вебинары, информационно-консультационные услуги, перечень которых указан на Сайте. <br><br>«Участник»
        - физические лица, в том числе дети в лице их законных представителей, представители юридических лиц,
        индивидуальные предприниматели, их представители и т.п. <br><br> <strong>2. Предмет договора <br></strong><br>
        2.1. Предметом настоящего Договора является возмездное предоставление Заказчику информационно- консультационных
        услуг в виде организации и проведения Мероприятий (мастер-классов, бизнес- тренингов, практических занятий и
        вебинаров) в сфере предпринимательства, экономики, маркетинга и PR, менеджмента, управления персоналом,
        юриспруденции, IT-предпринимательства, психологического коучинга, профориентационного тестирования и др. (далее
        –«Услуга»). <br><br>2.2. Тема, программа, стоимость, срок оказания Услуг размещены Исполнителем на Сайте.
        <br><br> <strong>3. Общие условия оказания услуг </strong><br><br> 3.1. В случае несогласия Заказчика с
        какими-либо из положений настоящего Договора, Заказчик не вправе принимать условия настоящего договора путем
        проставления отметки (галочки) «Ознакомлен и согласен с условиями Договора (публичная оферта)», размещенной на
        Сайте при оформлении Заказа. Проставление Заказчиком отметки (галочки) «Ознакомлен и согласен с условиями
        Договора (публичная оферта)» означает полное согласие Заказчика с положениями настоящего Договора и принятие его
        условий. <br><br> 3.2. Заказчик обязуется самостоятельно ознакомиться с актуальной редакцией
        Договора/Приложения/Программы, которые размещаются Исполнителем на Сайте. <br><br> 3.3. Местом оказания услуг
        являются площадки, определенные Исполнителем и указанные на Сайте. Конкретная площадка определяется с учетом
        пожеланий Заказчика и возможностей Исполнителя. <br><br> 3.4. Услуга предоставляется Заказчику в объеме,
        соответствующем сумме произведенной им предоплаты. <br><br> 3.5. Информационно-консультационные услуги не
        являются образовательной деятельностью, не подлежат лицензированию, не сопровождаются проведением итоговой
        аттестации, присвоения какой- либо квалификации и выдачей документа об образовании. <br><br> 3.6. Услуги
        считаются оказанными надлежащим образом и в полном объеме, если в течение двух календарных дней с момента
        окончания оказания услуг Заказчиком не выставлена рекламация в письменно виде на электронный адрес
        generator.camp@yandex.ru. В случае отсутствия рекламации акт приемки-сдачи оказанных услуг считается
        подписанным, а услуги оказанными надлежащим образом. <br><br> <strong>4. Права и обязанности Сторон
        </strong><br><br> 4.1. Заказчик обязуется: <br>4.1.1. Строго соблюдать условия настоящего Договора. <br>4.1.2.
        Предоставлять Исполнителю запрашиваемые им материалы и информацию; <br>4.1.3. Предварительно до даты оказания
        Услуг подтвердить информацию о своих представителях, в случае направления их для оказания Услуг, а также
        обеспечить их присутствие в месте оказания Услуг. <br>4.1.4. Надлежащим образом оплатить услуги Исполнителя в
        соответствии с условиями раздела настоящего Договора. <br>4.1.5. Своевременно уведомить Исполнителя любым
        доступным способом об изменении своих контактных данных и/или иных сведений, которые могут влиять на оказание
        Исполнителем Услуг по Договору. <br>4.1.6. Своевременно, не позднее, чем за 5 календарных дней уведомить
        Исполнителя об отказе от исполнения Договора при условии оплаты Исполнителю фактически понесенных им расходов.
        <br>4.1.7. Обеспечить посещение мероприятий согласно разработанному Исполнителем расписанию. <br>4.1.8.
        Возместить ущерб, причиненный имуществу Исполнителя, а также имуществу третьих лиц. Возместить Исполнителю
        убытки, в том числе возникшие у него по причине предъявления к Исполнителю исков или иных документов третьих лиц
        вследствие неправомерных действий Заказчика. . <br><br>4.2. Заказчик вправе: <br>4.2.1. Отказаться от исполнения
        Договора при условии оплаты Исполнителю фактически понесенных им расходов. <br>4.2.2. Отказаться от участия в
        мероприятии после заключения настоящего Договора, известив Исполнителя об этом по электронной почте
        generator.camp@yandex.ru, дата получения которого Исполнителем считается датой отказа. <br><br> 4.3. Исполнитель
        обязуется: <br>4.3.1. Оказать Услуги, предусмотренные п. 2.1. настоящего Договора, с надлежащим качеством и в
        срок, определенный настоящим Договором. <br>4.3.2. Непосредственно перед началом оказания Услуг (в том числе
        проведения мероприятий и т.п.), предусмотренных настоящим Договором, передать Заказчику (его представителям)
        полную информацию об оказываемых Услугах (в том числе программу проведения Мероприятий, содержащую информацию о
        количестве и продолжительности заседаний, специалистах, осуществляющих устные консультации, перерывах на обед и
        отдых, другие сведения, которые Исполнитель посчитает необходимыми довести до сведения Заказчика, а также
        сопроводительные материалы). Заказчик не вправе воспроизводить (т.е. дублировать, тиражировать или размножать
        иным образом), а также распространять любым способом путем реализации размноженных материальных носителей среди
        конечных пользователей (потребителей, осуществляющих функциональное использование), в том числе распространять
        внутри компьютерной сети или осуществлять электронную рассылку полученной от Исполнителя методической литературы
        (как в целом, так и частично), если на это нет однозначного письменного разрешения со стороны Исполнителя.
        <br>4.3.3. Сохранять конфиденциальность информации полученной от Заказчика, за исключением случаев,
        предусмотренных действующим законодательством РФ. <br><br> 4.4. Исполнитель вправе: <br>4.4.1. Отказаться от
        исполнения Договора при условии возмещения Заказчику причиненных ему убытков. <br>4.4.2. Привлекать третьих лиц
        (специалистов, консультантов) без согласования с заказчиком, при этом ответственность за действия которых несет
        Исполнитель как за свои собственные. <br>4.4.3. Добавить электронный адрес Заказчика в свой список рассылки
        писем при условии отсутствия отказа Заказчика от рассылки. <br>4.4.4. Отменить мероприятие или изменить дату
        мероприятия по причинам, не зависящим от Исполнителя (состояние здоровья консультанта и др.). Об указанных
        обстоятельствах Исполнитель обязан заблаговременно уведомить Заказчика. Заказчик обязуется заменять мероприятие
        на другое проводимое мероприятие, эквивалентное по стоимости. <br>4.4.5. Если иное не указано в настоящем
        Договоре, Исполнитель не несет ответственности за: косвенные убытки, упущение прибыли, упущение выгоды,
        независимо от способа их причинения. <br>4.4.6. Исполнитель вправе: <br>4.4.7. Обеспечить возможность оценки
        качества мероприятий посредством электронного опроса Заказчиков (участников мероприятий). <br><strong><br> 5.
            Порядок расчета </strong><br><br>5.1. Стоимость Услуг по настоящему Договору указывается Исполнителем путем
        размещения на Сайте. <br><br> 5.2. Оплата по настоящему Договору осуществляется Заказчиком на условиях
        предварительной оплаты в размере 100% (Ста процентов) от суммы, указанной в п.5.1 настоящего Договора не позднее
        чем за 2 календарных дня до начала мероприятия. <br><br> 5.3. Оплата производится путем подачи заявки через
        Сайт<a href="http://kidsd.ru/yandeks-kassa/">,</a> где Заказчик соглашается на обработку персональных данных и
        соглашается с настоящим договором. <br><br>5.4. Все расчеты по Договору производятся в рублях РФ. <br><br> 5.5.
        Услуга будет считаться оплаченной с момента поступления денежных средств на расчетный счет Исполнителя. <br><br>
        5.6. В случае отсутствия оплаты Заказчика за оказываемые Услуги на условиях п. 5.3. Договора Договор считается
        незаключенным, в связи с чем Исполнителем Услуги Заказчику по Договору не оказываются. <br><br> 5.7. В случае
        неприбытия Заказчика (его представителей) на Мероприятия либо иной невозможности исполнения настоящего Договора
        Заказчиком без предварительного предупреждения Исполнителя в порядке п. 4.1.6._Договора, денежные средства,
        оплаченные Исполнителю по настоящему Договору, возврату не подлежат. <br><br> 5.8. При отказе Заказчика от
        участия в мероприятии более чем за 5 календарных дней включительно до установленной даты мероприятия,
        Исполнитель возвращает уже оплаченную Заказчиком на дату отказа сумму договора. <br><br> 5.9. При отказе
        Заказчика от участия в мероприятии менее чем за 5 календарных включительно дней до установленной даты
        мероприятия, денежные средства, оплаченные Исполнителю по настоящему Договору, возврату не подлежат. <br><br>
        5.10. В случае переноса срока мероприятия действие договора продлевается на срок, равный сроку переноса
        мероприятия. При отмене мероприятия договорные обязательства Сторон прекращаются, при этом, в случае отмены
        мероприятия по независящим от Исполнителя обстоятельствам, Исполнитель обязуется возместить Заказчику уплаченные
        им денежные средства за вычетом документально подтвержденных расходов Исполнителя. В случае отмены мероприятия
        по зависящим от Исполнителя обстоятельствам, Исполнитель обязуется возместить Заказчику уплаченные им денежные
        средства в полном размере. <br><br> <strong>6. Ответственность сторон </strong><br><br>6.1. За неисполнение или
        ненадлежащее исполнение обязательств по договору, стороны несут ответственность в соответствии с действующим
        законодательством РФ. <br><br>6.2. В случае отмены мероприятия по вине Исполнителя или третьих лиц, по
        независящим от Исполнителя причинам, занятия переносятся на другой день. <br><br> 6.3. В случае если Заказчик не
        воспользовался предоставленными компенсирующими занятиями, то Исполнитель не производит перерасчет стоимости
        отказанных Услуг. <br><br> <strong>7. Рассмотрение споров </strong><br><br>7.1. Все споры, возникшие в процессе
        исполнения настоящего Договора, решаются сторонами путем переговоров. <br><br> 7.2. В случае невозможности
        урегулирования разногласий путем переговоров спор передается на рассмотрение в суд по месту нахождения
        Исполнителя с соблюдением претензионного порядка урегулирования споров. Срок ответа на претензию – 15 дней с
        даты ее получения стороной. <br><br> <strong>8. Срок действия, порядок заключения и расторжения договора
        </strong><br><br>8.1. Настоящий Договор вступает в силу с момента совершения Заказчиком акцепта оферты и
        действует дополного выполнения обязательств Сторонами. <br><br> 8.2. В случае невыполнения одной стороной
        обязательств по договору в результате действия обстоятельств непреодолимой силы (форс-мажор), что подтверждается
        необходимыми документами с указанием срока форс-мажора, срок обязательств сторон по договору продлевается на
        срок действия форс-мажора. Стороны освобождаются от ответственности за убытки, понесенные другой стороной в
        результате действия форс-мажора. Сторона, для которой создалась невозможность выполнения обязательств по
        настоящему договору, обязана сообщить в письменной форме о наступлении форс-мажорных обстоятельств, о
        предполагаемом сроке действия данных обстоятельств, а также об окончании действия. Достаточным подтверждением
        наличия вышеуказанных обстоятельств будут служить справки, выданные соответствующими уполномоченными органами.
        Если невозможность полного или частичного выполнения обязательств одной из сторон вследствие форс- мажорных
        обстоятельств не прекратятся до начала мероприятия, любая сторона имеет право расторгнуть настоящий договор.
        <br><br> 8.3. Заключая настоящий договор Заказчик подтверждает, что соглашается на обработку, хранение и
        использование своих персональных данных на основании ФЗ № 152-ФЗ «О персональных данных» от 27.07.2006 г. в
        следующих целях: <br>
        <ul>
            <li>Осуществление клиентской поддержки </li>
            <li>Получения Пользователем информации о маркетинговых событиях </li>
            <li>Проведения аудита и прочих внутренних исследований с целью повышения качества предоставляемых услуг.
            </li>
        </ul>Под персональными данными подразумевается любая информация личного характера, позволяющая установить
        личность Пользователя/Покупателя такая как: <br>
        <ul>
            <li>Фамилия, Имя, Отчество </li>
            <li>Дата рождения </li>
            <li>Контактный телефон </li>
            <li>Адрес электронной почты </li>
            <li>Почтовый адрес </li>
            <li>Паспортные данные</li>
            <li>Данные свидетельства о рождении</li>
        </ul>Исполнитель обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих
        случаев: <ul>
            <li>По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке,
                установленным законодательством РФ</li>
            <li>Стратегическим партнерам, которые работают с Заказчиком для предоставления продуктов и услуг, или тем из
                них, которые помогают Заказчику реализовывать продукты и услуги потребителям. Заказчик предоставляет
                третьим лицам минимальный объем персональных данных, необходимый только для оказания требуемой услуги
                или проведения необходимой транзакции. </li>
        </ul> Заказчик оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при
        условии, что изменения не противоречат действующему законодательству РФ. Изменения условий настоящих правил
        вступают в силу после их публикации на Сайте. <br><br> ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ ФАМИЛИЯ ИМЯ ОТЧЕСТВО <br>105120, г.Москва, Наставнический пер, д.6 кв. 24 <br>ИНН 771818281822 <br>ОГРНИП
        318774600299568 <br>р/с 40802810710050062672 <br>Филиал Точка Банк КИВИ Банк (акционерное общество) Корр.счет
        банка 30101810445250000797 <br>БИК 044525797 <br><br>
    </div>
</body>

</html>